@using AzureADLabDNSControl.Models
@model LabDTO
@{
    ViewBag.Title = "LabReport";
    var i = 0;
}

<h2>Lab Report</h2>

<div class="row">
    <div class="col-sm-3">City</div>
    <div class="col-sm-9">@Model.Lab.City</div>
</div>
<div class="row">
    <div class="col-sm-3">Date</div>
    <div class="col-sm-9">@Model.Lab.LabDate.ToShortDateString()</div>
</div>
<div class="row">
    <div class="col-sm-3">Instructor</div>
    <div class="col-sm-9">@Model.Lab.PartitionKey</div>
</div>
<div class="row">
    <div class="col-sm-3">Lab Code</div>
    <div class="col-sm-9 code">@Model.Lab.LabCode</div>
</div>
<hr class="noPrint" />
<footer></footer>
@foreach (var team in Model.Assignments)
{
    i++;
    <div class="row">
        <div class="col-sm-3">Domain:</div>
        <div class="col-sm-9">@team.DomainName</div>
    </div>

    <div class="row">
        <div class="col-sm-3">Team Auth Key</div>
        <div class="col-sm-9 code">@team.RowKey</div>
    </div>

    <div class="row" style="margin-bottom:70px;">
        <div class="col-sm-12">
            <hr />
            <p>Instructions:</p>
            <ol>
                <li>Navigate to https://discoverazuread.azurewebsites.net/ </li>
                <li>Enter your Lab Code (from the instructor), and your Team Auth Key</li>
                <li>Click to view your team domain update tool</li>
                <li>Continue with the instructor</li>
            </ol>
        </div>
    </div>
    if (i == 5)
    {
        i = 0;
        <footer></footer>
    }
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            window.print();
            setTimeout(function () {
                //location.href = "/Admin";
            }, 100);
        });
    </script>
}
@section styles {
    <style type="text/css">
        footer {
            page-break-after: always;
        }
        .code {
            font-family: Courier New, Courier, Consolas, monospace;
            font-weight:bold;
            letter-spacing: 6px;
        }
        div.col-sm-3 {
            font-weight:bold;
            font-size:1.4em;
        }
        div.col-sm-9 {
            font-size:1.4em;
        }
    </style>
}