@{
    ViewBag.Title = "Register your team";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary" style="margin-top:10px;position:relative;">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
                }

                @using (Html.BeginForm("Index", "Team", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.Label("Lab Code", htmlAttributes: new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.TextBox("LabCode", "", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Team Auth Key", htmlAttributes: new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.Password("TeamAuth", "", htmlAttributes: new { @class = "form-control" })
                            <div class="info">Codes are case-sensitive</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-8">
                            <input type="submit" value="Register Team Assignment" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#LabCode").focus().select();
        });
    </script>
}
@section styles {
    <style type="text/css">
        div.row {
            margin-top: 20px;
        }

        .info {
            font-size: .8em;
            font-style: italic;
        }
    </style>
}
