@using Infra
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Discover Azure AD Lab Utility</title>
    <link rel="shortcut icon" href="/favicon2.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top noPrint">
        <div class="container">
            <div class="navbar-header">
                <img style="display:inline; float:left; margin: 7px 15px 0 15px;" src="~/Content/Images/Icon-sm.png">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span id="collapsedLoader" class="ui-loader glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                @Html.ActionLink("Discover Azure AD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.IsInRole(CustomRoles.LabAdmin))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }
                    @if (User.IsInRole(CustomRoles.LabUser))
                    {
                        <li>@Html.ActionLink("Team", "Index", "Team")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer class="bg-4 noPrint">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Discover Azure AD Lab Utility</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
